/logging.out
/.gradle
/.settings
/bin
/build
/vpproject
/gradle
.classpath
src/main/resources/application.properties
src/main/resources/application.properties
*.properties
src/main/resources/application.properties
.classpath
build.gradle
